<%- include ../common/header.ejs %>
<div class="banner-finance gb-w">
    <%- include ../common/nav.ejs %>
   <h3 class="bh lighter">汽车贷款，臻选第1车贷</h3>
</div>
<div class="gb-w fin-bgwhite">
    <div class="fin-contentW fin-tabWrap J-tab">
        <span class="fin-tab" id="data-fin-business" data-href="/finance?tabContent=fin-business">车商·金融信息服务</span>
        <span class="fin-tab" id="data-fin-personal" data-href="/finance?tabContent=fin-personal">个人·金融信息服务</span>
    </div>
</div>
<div class="J-con fin-contentW ">
    <!-- 车商 -->
    <div class="fin-content animated" id="fin-business">
        <div class="fin-stepWrap">
            <ul class="fin-step animated">
                <li class="fin-stepTi lighter">贷款步骤</li>
                <li>
                    <div class="st-img">
                        <span class="st-icon1"></span>
                    </div>
                    <em class="step-txt">贷款需求提交</em>
                </li>
                <li>
                    <div class="st-img">
                        <span class="st-icon2"></span>
                    </div>
                    <em class="step-txt">沟通贷款需求</em>
                </li>
                <li>
                    <div class="st-img">
                        <span class="st-icon3"></span>
                    </div>
                    <em class="step-txt">匹配资金经理</em>
                </li>
                <li>
                    <div class="st-img">
                        <span class="st-icon4"></span>
                    </div>
                    <em class="step-txt">经理线下服务</em>
                </li>
                <li class="fin-pr0">
                    <div class="st-img">
                        <span class="st-icon5"></span>
                    </div>
                    <em class="step-txt">等钱来</em>
                </li>
            </ul>
        </div>
        <ul class="fin-list fin-bus-list">
            <li id="bus-ccb">
                <!--<span class="fin-bustag"><img src="/dist/images/dc/fin-busLabel1.png"></span>-->
                <div class="fin-prodetail">
                    <div class="fin-box cfix">
                        <h3 class="fin-name">车存宝</h3>
                        <h3 class="fin-quota">50万~5000万<span class="fin-tag">授信额度</span></h3>
                    </div>
                    <div class="col1">
                        <label for="">产品期限：</label>
                        <p class="txt1">1个月、3个月、6个月</p>
                    </div>
                    <div class="col1">
                        <label for="">付息方式：</label>
                        <p class="txt1">按月付息，到期还本</p>
                    </div>
                    <div class="col2">
                        <label for="">保证金比例：</label>
                        <p class="txt1">5%</p>
                    </div>
                    <div class="col1">
                        <label for="">融资主体：</label>
                        <p class="txt2">个人/企业</p>
                    </div>
                    <div class="col3">
                        <label for="">目标客户：</label>
                        <p class="txt2">二手车经销商、新车经销商（4S店）、新车综合卖场</p>
                    </div>
                </div>
                <div class="fin-prodis">
                    <div class="col1">
                        <label for="">产品介绍：</label>
                        <p class="txt3 fin-pr60 justify">“车存宝”是第1车贷针对汽车经销商（包括二手车经销商和新车经销商）为日常运营或扩大业务时面临资金不足，而设计的车商可通过自有库存车辆为质押物，获得流动资金的金融服务。</p>
                    </div>
                    <div class="col3">
                        <label for="">产品优势：</label>
                        <p class="txt3">1.为汽车经销商解决经营的流动资金，培植强大的汽车经销商，尤其是二手车经销商；
                            <br>2.对中小型二手车经销商，简化手续，提高用款效率，快速占领小商户市场；
                            <br>3.汽车经销商可进一步经营并扩大自有业务；
                            <br>4.强化锋之行和汽车经销商的业务合作。
                        </p>
                    </div>
                </div>
                <a href="http://bms.dycd.com" target="_blank" class="apply-btn">立即申请</a>
            </li>
            <li id="bus-1che">
                <!--<span class="fin-bustag"><img src="/dist/images/dc/fin-busLabel2.png"></span>-->
                <div class="fin-prodetail">
                    <div class="fin-box cfix">
                        <h3 class="fin-name">1车贷</h3>
                        <h3 class="fin-quota">50万~5000万<span class="fin-tag">授信额度</span></h3>
                    </div>
                    <div class="col1">
                        <label for="">产品期限：</label>
                        <p class="txt1">90天</p>
                    </div>
                    <div class="col1">
                        <label for="">付息方式：</label>
                        <p class="txt1">按天计息，随借随还</p>
                    </div>
                    <div class="col2">
                        <label for="">保证金比例：</label>
                        <p class="txt1">5%</p>
                    </div>
                    <div class="col1">
                        <label for="">融资主体：</label>
                        <p class="txt2">个人/企业</p>
                    </div>
                    <div class="col3">
                        <label for="">目标客户：</label>
                        <p class="txt2">二手车经销商、新车经销商（4S店）、新车综合卖场</p>
                    </div>
                </div>
                <div class="fin-prodis">
                    <div class="col1">
                        <label for="">产品介绍：</label>
                        <p class="txt3 fin-pr60 justify">“1车贷”是第1车贷针对汽车经销商（包括二手车经销商和新车经销商）为日常运营或扩大业务时面临资金不足，而设计的车商可通过自有在库单车为质押物，获得流动资金的金融服务。</p>
                    </div>
                    <div class="col3">
                        <label for="">产品优势：</label>
                        <p class="txt3">1.按天计息，解决部分商户对利率敏感的问题；<br>2.以单车为单位，降低融资金额，且还款灵活；<br>3.评估放款操作全部线上化，操作便捷，融资迅速。</p>
                    </div>
                </div>
                <a href="http://bms.dycd.com" target="_blank" class="apply-btn">立即申请</a>
            </li>
            <li id="bus-wsb">
                <!--<span class="fin-bustag"><img src="/dist/images/dc/fin-busLabel3.png"></span>-->
                <div class="fin-prodetail">
                    <div class="fin-box cfix">
                        <h3 class="fin-name">微商宝</h3>
                        <h3 class="fin-quota">50万~5000万<span class="fin-tag">授信额度</span></h3>
                    </div>
                    <div class="col1">
                        <label for="">产品期限：</label>
                        <p class="txt1">90~180天</p>
                    </div>
                    <div class="col1">
                        <label for="">付息方式：</label>
                        <p class="txt1">按月付息，到期还本</p>
                    </div>
                    <div class="col2">
                        <label for="">保证金比例：</label>
                        <p class="txt1">5%</p>
                    </div>
                    <div class="col1">
                        <label for="">融资主体：</label>
                        <p class="txt2">个人/企业</p>
                    </div>
                    <div class="col3">
                        <label for="">目标客户：</label>
                        <p class="txt2">整车物流商</p>
                    </div>
                </div>
                <div class="fin-prodis">
                    <div class="col1">
                        <label for="">产品介绍：</label>
                        <p class="txt3 fin-pr60 justify">“微商宝”是第1车贷为整车物流商提供的专属类保理金融服务，提前支持物流商应付账款，增加物流公司日常运营资金，增加采购车辆资金，真正做到扩大经营。</p>
                    </div>
                    <div class="col3">
                        <label for="">产品优势：</label>
                        <p class="txt3">1.为汽车供应链中物流环节的整车物流商提供融资服务；<br>2.把握自身有效资源，真正解决物流企业运营资金不足的企业痛点。</p>
                    </div>
                </div>
                <a href="http://bms.dycd.com" target="_blank" class="apply-btn">立即申请</a>
            </li>
            <li id="bus-zrb">
                <!--<span class="fin-bustag"><img src="/dist/images/dc/fin-busLabel4.png"></span>-->
                <div class="fin-prodetail">
                    <div class="fin-box cfix">
                        <h3 class="fin-name">租融宝</h3>
                        <h3 class="fin-quota">50万~5000万<span class="fin-tag">授信额度</span></h3>
                    </div>
                    <div class="col1">
                        <label for="">产品期限：</label>
                        <p class="txt1">12个月</p>
                    </div>
                    <div class="col1">
                        <label for="">付息方式：</label>
                        <p class="txt1">等额本息</p>
                    </div>
                    <div class="col2">
                        <label for="">保证金比例：</label>
                        <p class="txt1">5%</p>
                    </div>
                    <div class="col1">
                        <label for="">融资主体：</label>
                        <p class="txt2">企业</p>
                    </div>
                    <div class="col3">
                        <label for="">目标客户：</label>
                        <p class="txt2">经营性汽车租赁公司</p>
                    </div>
                </div>
                <div class="fin-prodis">
                    <div class="col1">
                        <label for="">产品介绍：</label>
                        <p class="txt3 fin-pr60 justify">“租融宝”是第1车贷为汽车租赁公司提供的用于车辆采购或日常经营的资金支持的金融服务，帮助汽车租赁公司扩大公司规模。</p>
                    </div>
                    <div class="col3">
                        <label for="">产品优势：</label>
                        <p class="txt3">1.为中小型汽车经营租赁公司的扩大发展提供金融服务；<br/>2.满足经营性租赁公司的需求，推出经营性融资服务以补充企业日常营运资金的缺口。</p>
                    </div>
                </div>
                <a href="http://bms.dycd.com" target="_blank" class="apply-btn">立即申请</a>
            </li>
            <li id="bus-drb" >
                <!--<span class="fin-bustag"><img src="/dist/images/dc/fin-busLabel5.png"></span>-->
                <div class="fin-prodetail">
                    <div class="fin-box cfix">
                        <h3 class="fin-name">订融宝</h3>
                        <h3 class="fin-quota">50万~5000万<span class="fin-tag">授信额度</span></h3>
                    </div>
                    <div class="col1">
                        <label for="">产品期限：</label>
                        <p class="txt1">15天</p>
                    </div>
                    <div class="col1">
                        <label for="">付息方式：</label>
                        <p class="txt1">按日计息，随借随还</p>
                    </div>
                    <div class="col2">
                        <label for="">保证金比例：</label>
                        <p class="txt1">10%</p>
                    </div>
                    <div class="col1">
                        <label for="">融资主体：</label>
                        <p class="txt2">个人/企业</p>
                    </div>
                    <div class="col3">
                        <label for="">目标客户：</label>
                        <p class="txt2">二手车经销商、新车经销商（4S店）、新车综合卖场</p>
                    </div>
                </div>
                <div class="fin-prodis">
                    <div class="col1">
                        <label for="">产品介绍：</label>
                        <p class="txt3 fin-pr60 justify">“订融宝”是第1车贷针对汽车经销商（包括二手车经销商和新车经销商）为采购车辆时面临的资金不足，提供资金支持的金融服务。</p>
                    </div>
                    <div class="col3">
                        <label for="">产品优势：</label>
                        <p class="txt3">1.为汽车经销商解决短期车辆采购资金缺口，尤其是二手车经销商；<br>2.汽车经销商可进一步经营并扩大自有业务；<br>3.强化锋之行和汽车经销商的业务合作。</p>
                    </div>
                </div>
                <a href="http://bms.dycd.com" target="_blank" class="apply-btn">立即申请</a>
            </li>
        </ul>
    </div>
    <!-- 个人 -->
    <div class="fin-content animated" id="fin-personal">
        <ul class="fin-list fin-per-list">
            <li class="min-h" id="per-zl">
                <span class="fin-bustag"><img src="/dist/images/dc/fin-perLabel1.png"></span>
                <div class="fin-left">
                    <img src="/dist/images/dc/fin-perImg1.jpg">
                </div>
                <div class="fin-right">
                    <div class="fin-prodetail">
                        <div class="col4">
                            <label for="">客户类型：</label>
                            <p class="txt1">个人/企业</p>
                        </div>
                        <div class="col5">
                            <label for="">首付比例：</label>
                            <p class="txt1">10％-20％</p>
                        </div>
                        <div class="col4">
                            <label for="">期限：</label>
                            <p class="txt1">首年租赁+尾款N年分期</p>
                        </div>
                        <div class="col5">
                            <label for="">还款方式：</label>
                            <p class="txt1">等额本息</p>
                        </div>
                    </div>
                    <div class="fin-prodis">
                        <div class="col6">
                            <label for="">产品优势介绍：</label>
                            <p class="txt3 justify">租赁业务（梦享车）提供C端客户海量车型选择、现车供应及多种灵活金融方案，包含：中长期租赁业务产品、DIY金融方案产品、共享俱乐部等金融方案，其中针对尾款处理提供客户的多样性选择：1)留购买断 2)无忧退还 3)尾款分期提供低首付&低月供优惠方案，并提供C端用户一站式（客服+售后+理赔+救援+违章待处理）服务。</p>
                        </div>
                    </div>
                    <a href="http://www.xiaoiche.com/index.html" class="apply-btn  apply-bottom" target="_blank">立即申请</a>
                </div>
            </li>
            <li class="fin-p0 fin-mt30">
                <div class="fin-perStep">
                    <ul class="fin-step">
                        <li class="fin-stepTi"><em>购车流程</em></li>
                        <li><span>下载<br>梦享车APP</span></li>
                        <li><span>发起申请</span></li>
                        <li><span>等待审核</span></li>
                        <li><span>合同签约</span></li>
                        <li><span>成功提车</span></li>
                    </ul>
                    <div class="fin-bgline"></div>
                </div>
            </li>
            <li class="fin-mt50 min-h" id="per-fq">
                <span class="fin-bustag"><img src="/dist/images/dc/fin-perLabel2.png"></span>
                <div class="fin-left">
                    <img src="/dist/images/dc/fin-perImg2.jpg">
                </div>
                <div class="fin-right">
                    <div class="fin-prodetail">
                        <div class="col4">
                            <label for="">客户类型：</label>
                            <p class="txt1">个人/企业</p>
                        </div>
                        <div class="col5">
                            <label for="">车辆属性：</label>
                            <p class="txt1">新车/二手车</p>
                        </div>
                        <div class="col4">
                            <label for="">期限：</label>
                            <p class="txt1">12个月 24个月 36个月</p>
                        </div>
                        <div class="col5">
                            <label for="">还款方式：</label>
                            <p class="txt1">等额本息</p>
                        </div>
                    </div>
                    <div class="fin-prodis">
                        <div class="col6">
                            <label for="">产品介绍：</label>
                            <p class="txt3 justify">消费分期业务准入车型及准入人群覆盖面广，所需资料简单（优质客户身份证+驾驶证、免征信及流水），金融方案提供更多低首付+低月供优惠供合作商选择；标准优质的审核评估团队为用户提供优质服务，第1车贷致力于解决C端用户购车/用车等多方面的金融需求。</p>
                        </div>
                    </div>
                    <a href="javascript:;" class="apply-btn">敬请期待</a>
                </div>
            </li>
            <li class="fin-p0 fin-mt30">
                <div class="fin-perStep">
                    <ul class="fin-step fin-step2">
                        <li class="fin-stepTi"><em>消费分期流程</em></li>
                        <li><span>发起申请</span></li>
                        <li><span>等待审核</span></li>
                        <li><span>合同签约</span></li>
                        <li><span>抵押</span></li>
                        <li><span>放款</span></li>
                    </ul>
                    <div class="fin-bgline fin-bgline"></div>
                </div>
            </li>
        </ul>
    </div>
</div>

<%- include ../common/footer.ejs%>
<!--回到顶部-->
<img src="/dist/images/dc/backTop.png" alt="" class="df-backTop">
<script src="/dist/scripts/dc/finance.js?v=<%=VERSION%>"></script>