<%- include common/header.ejs %>
<%- include common/nav.ejs %>
<div class="dc-index" id="dc-index">
    <section class="section section1">
        <div class="slide">
            <!-- <div class="ind-contentW">
                <div class="ind-left">
                    <p class="sec1-p1 lighter">胸有情怀，肩负担当，</p>
                    <h2>第1车贷秉承初心。</h2>
                    <a href="http://bms.dycd.com" target="_blank" class="sec1-btn">车商入口</a>
                    <a href="http://www.xiaoiche.com" target="_blank" class="sec1-btn">个人入口</a>
                </div>
                <div class="ind-right right"><img src="/dist/images/dc/ind-sec1Img.png"></div>
            </div> -->

            <div class="ind-contentW">
                <div class="ind-left ind-leftQy">
                    <!--<div class="section-img-top">-->
                        <img src="/dist/images/dc/banner-top-03.png" alt="" class="section-img-top">
                    <!--</div>-->

                    <a href="http://bms.dycd.com" target="_blank" class="sec1-btn">车商入口</a>
                    <a href="http://www.xiaoiche.com" target="_blank" class="sec1-btn">个人入口</a>
                    <!--<div class="section-img-bottom"></div>-->
                    <img src="/dist/images/dc/banner-bottom-03.png" alt="" class="section-img-bottom">
                </div>
            </div>

        </div>
        <div class="ind-guide animated"><img src="/dist/images/dc/ind-sec1Guide.png"></div>
    </section>
    <section class="section section2">
        <div class="ind-contentW">
            <h3 class="lighter">全国优质车商&nbsp;&nbsp;精选保障车源&nbsp;&nbsp;尽在第1车贷</h3>
            <a href="http://bms.dycd.com" target="_blank" class="ind-toMore animated">查看更多车源</a>
        </div>
    </section>
    <section class="section section3">
        <div class="swiper-container" id="swiper2">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-no-swiping">
                    <h3>广汽凯美瑞 2016款 2.0E 十周年精英版</h3>
                    <span class="sec5-tip">月供<strong>4148</strong>元<em>|</em>12期</span>
                    <div class="sec5-image">
                        <img data-src="/dist/images/dc/ind-cm-1.png" alt="">
                    </div>
                    <a href="http://www.xiaoiche.com/icardetail.html?CarModelId=5" target="_blank"
                       class="sec5-toDetail">查看详情</a>
                </div>
                <div class="swiper-slide swiper-no-swiping">
                    <h3>Jeep自由侠 2017款 180T 自动高能版</h3>
                    <span class="sec5-tip">月供<strong>3358</strong>元<em>|</em>12期</span>
                    <div class="sec5-image">
                        <img data-src="/dist/images/dc/ind-cm-2.png" alt="">
                    </div>
                    <a href="http://www.xiaoiche.com/icardetail.html?CarModelId=42" target="_blank"
                       class="sec5-toDetail">查看详情</a>
                </div>
                <div class="swiper-slide swiper-no-swiping">
                    <h3>大众迈腾 2017款 330TSI DSG 领先型</h3>
                    <span class="sec5-tip">月供<strong>6538</strong>元<em>|</em>12期</span>
                    <div class="sec5-image">
                        <img data-src="/dist/images/dc/ind-cm-3.png" alt="">
                    </div>
                    <a href="http://www.xiaoiche.com/icardetail.html?CarModelId=12" target="_blank"
                       class="sec5-toDetail">查看详情</a>
                </div>
            </div>
            <!--</div>-->
            <!-- 如果需要分页器 -->
            <!--<div class="swiper-pagination" id="pagebox2"></div>-->
            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev" id="prev2"></div>
            <div class="swiper-button-next" id="next2"></div>
            <!-- 购车流程 -->
            <a href="http://www.xiaoiche.com/cartype.html" target="_blank" class="sec5-toMore">查看更多车型 》</a>
        </div>
        <div class="ind-busLoanStep">
            <div class="ind-perStep animated">
                <ul class="ind-step">
                    <li class="ind-stepTi">
                        <!--<em style="white-space:nowrap;">购车流程</em>-->
                    </li>
                    <li><span>下载<br>梦享车APP</span></li>
                    <li><span>发起申请</span></li>
                    <li><span>等待审核</span></li>
                    <li><span>合同签约</span></li>
                    <li><span>成功提车</span></li>
                </ul>
            </div>
        </div>

    </section>
    <section class="section section4">
        <div class="ind-contentW">

            <a id="indNews" href="/news" class="sec6-toMore" target="_blank">查看全部报道 》</a>
        </div>
    </section>
    <section class="section section5">
        <div class="ind-contentW">
            <div class="ind-right right ">
                <div class="sec7-name animated">
                    <div class="sec7-logo">
                        <img src="/dist/images/dc/ind-sec71che.png"><br>第1车贷
                    </div>
                    <h4 class="sec7-slogen lighter">让天下没有难做的<br>二手车生意</h4>
                    <p class="sec7-txt">面向二手车商和新车经销商推出的集车源、交易、物流、<br>车商SAAS为一体的汽车互联生态服务平台。<br>靠谱车源，实力卖家，个性化方案，尽在第1车贷APP。
                    </p>
                </div>
                <div class="sec7-load sec7-loadWrap">
                    <img src="/dist/images/dc/ind-sec7Load.jpg" class="sec7-erweima pull-right">
                    <div class="sec7-loadLink pull-right">
                        <img src="/dist/images/dc/ind-sec7Ios.png">
                        <img src="/dist/images/dc/ind-sec7Android.png">
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="section section6">
        <div class="ind-contentW">
            <div class="ind-left">
                <div class="sec8-name animated">
                    <div class="sec7-logo">
                        <img src="/dist/images/dc/ind-sec8mxc.png"><br>梦享车
                    </div>
                    <h4 class="sec7-slogen lighter">一点梦想 即刻成真</h4>
                    <p class="sec7-txt">面向个人用户推出的一站式汽车金融服务平台。<br>海量优质车源、个性化金融信息服务、一站式用车管家服务。<br>让您即刻步入有车一族，尽享有车生活。</p>
                </div>
                <div class="sec7-load sec8-loadWrap">
                    <img src="/dist/images/dc/dimensional02.png" class="sec7-erweima pull-left">
                    <div class="sec7-loadLink pull-left">
                        <img src="/dist/images/dc/ind-sec8Ios.png">
                        <img src="/dist/images/dc/ind-sec8Android.png">
                        <div class="clearfix"></div>
                    </div>
                </div>
                <p class="sec8-loadWrap sec7-txt"><span>©上海锋之行汽车金融信息服务有限公司&nbsp&nbsp&nbsp&nbsp<a href="http://www.miitbeian.gov.cn/" target="_blank" class="df-record">沪ICP备15029257号-2</a></span></p>
            </div>
        </div>
    </section>
</div>
<!-- 客服 悬浮 -->
<div class="ind-service animated">
    <ul class="ind-whiteBg">
        <li>
            <span class="ind-serWeixin ind-sevIcon"></span>
            <img class="ind-showSer ind-showWeixin" src="/dist/images/dc/ind-erweima.jpg">
        </li>

        <li>
            <a href="http://wpa.qq.com/msgrd?v=3&uin=2083500692&site=qq&menu=yes" target="_blank" class="ind-showQQ">
                <span class="ind-serQQ ind-sevIcon"></span>
                <span class="ind-showSer ind-showQQ">QQ客服</span>
            </a>
        </li>
        <!--<li>-->
        <!--<span class="ind-serKefu"></span>-->
        <!--<a href="http://wpa.qq.com/msgrd?v=3&uin=2083500692&site=qq&menu=yes" target="_blank"-->
        <!--class="ind-showSer ind-showKefu">在线客服</a>-->
        <!--</li>-->
        <li>
            <span class="ind-serphone ind-sevIcon"></span>
            <div class="ind-showSer ind-showphone">4008-365-111</div>
        </li>
    </ul>
</div>
<!-- 右侧悬浮 预约看车 -->
<div class="ind-sus ind-order animated">
    <span class="ind-loadBtn">预约看车</span>
    <div class="ind-apply animated">
        <h4>预约看车</h4>
        <p><input type="text" id="mcName" placeholder="请填写联系人姓名"/></p>
        <p><input type="text" id="mcTel" placeholder="请填写联系人电话"/><span class="err"></span></p>
        <p><img src="/dist/images/dc/datepicker.png" alt="" class="ind-datepicker">
            <input id="appointTime" placeholder="请选择到店时间" readonly="readonly" type="text">
        </p>
        <p class="w-select cfix">
            <select class="ind-select" id="city">
                <option id="se-default" value="">请选择城市</option>
            </select>
            <select class="ind-select fr" id="store">
                <option value="">请选择门店</option>
            </select>
        </p>
        <div class="err" id="aptErr"></div>
        <span class="btn sub-btn" id="carOrder">提交</span><span class="btn cancel-btn">取消</span>
    </div>
</div>
<!--jwplayer调用初始化DOM-->
<div class="df-mask">
    <img src="/dist/images/dc/close.png" alt="" class="df-close">
    <div id="mediaplayer" class="mediaplayer"></div>
</div>
<%- include common/footer.ejs %>
<script src="/dist/scripts/vendor/jquery.fullpage.min.js"></script>
<script src="/dist/scripts/vendor/jquery.fullpage.extensions.min.js"></script>
<script src="/dist/scripts/vendor/swiper-3.4.2.jquery.min.js"></script>
<script src="/dist/scripts/vendor/jquery.placeholder.min.js"></script>
<script src="/vendor/laydate.js"></script>
<script src="/dist/scripts/vendor/velocity.min.js"></script>
<script src="/dist/scripts/dc/index.js?v=<%=VERSION%>"></script>
