<div class="dc-footer gb-w">
    <div class="df-car-box">
        <div class="ft-top cfix">
            <div class="df-left">
                <ul class="cfix">
                    <li class="df-title"><a class="df-stress">关于我们</a></li>
                    <li class="df-title"><a class="df-str" href="/aboutus?id=2" target="_blank">发展历程</a></li>
                    <li class="df-title"><a class="df-str" href="/aboutus?id=4" target="_blank">团队介绍</a></li>
                    <li class="df-title"><a class="df-str" href="/aboutus?id=5" target="_blank">联系我们</a></li>
                    <li class="df-title"><a class="df-str" href="/aboutus?id=6" target="_blank">加入我们</a></li>
                </ul>
                <div class="df-serves">
                    <p class="df-connect"><span class="df-tel">客服电话：4008-365-111</span><span>010-59230000</span></p>
                    <p class="df-connect">服务时间：周一至周五 9:00至18:00</p>
                    <p class="df-connect">邮箱：kefu@dycd.com&nbsp&nbsp&nbsp&nbsp媒体公关：pr@dycd.com</p>
                </div>
            </div>
            <div class="df-right">
                <ul class="cfix">
                    <li class="df-title-r"><a class="df-stress">合作伙伴</a></li>
                    <li class="df-title-r"><a class="df-str" href="http://www.picc.com.cn" target="_blank">中国人保财险</a></li>
                    <li class="df-title-r"><a class="df-str" href="http://www.spdb.com.cn" target="_blank">浦发银行</a></li>
                    <li class="df-title-r"><a class="df-str" href="http://www.ncbank.cn" target="_blank">宁波银行</a></li>
                    <li class="df-title-r"><a class="df-str" href="http://www.cmbc.com.cn" target="_blank">民生银行</a></li>
                    <li class="df-title-r df-title-l"><a class="df-str" href="http://www.zhengtongauto.com" target="_blank">正通汽车</a></li>
                    <li class="df-title-r"><a class="df-str" href="http://www.mpvtuking.com" target="_blank">鸿逸汽车</a></li>
                </ul>
                <div class="df-serve">
                    <img src="/dist/images/dc/logo.png" alt="">
                    <img src="/dist/images/dc/public-01.png" alt="" class="df-pubimg">
                </div>
            </div>
        </div>
        <div class="df-bottom">
            <p class="ft-box">
                <span>©上海锋之行汽车金融信息服务有限公司&nbsp&nbsp&nbsp&nbsp<a href="http://www.miitbeian.gov.cn/" target="_blank" class="df-record">沪ICP备15029257号-2</a></span>
                <!--<img src="/dist/images/dc/record.png" alt="" class="ft-img-records">-->
            </p>
        </div>
    </div>
</div>
<script src="/dist/scripts/vendor/jquery-1.8.3.min.js"></script>
<script src="/dist/scripts/vendor/ejs.min.js"></script>
<script src="/dist/scripts/vendor/jquery.cookie.js"></script>
<script src="/vendor/jwplayer.js"></script>
<script src="/vendor/jwpsrv.js"></script>
<script src="/dist/scripts/dc/common.js?v=<%=VERSION%>"></script>
