<header class="dc-header cfix">
  <div class="header-con">
    <a class="dc-logo" href="/"><img src="/dist/images/dc/logo.png" alt="第1车贷" ></a>
    <div class="dc_nav">
      <a id="actIndex" class="dc-link" href="/">首页</a>
      <a id="actMc" class="dc-link nav-mc" href="http://www.xiaoiche.com" target="_blank">梦享车</a>
      <a id="actCar" class="dc-link nav-1che" href="http://bms.dycd.com" target="_blank">1车</a>
      <a id="actNews" class="dc-link" href="/news">媒体报道</a>
      <a id="actCoop" class="dc-link" href="/cooperation">合作伙伴</a>
      <a id="actAbout" class="dc-link" href="/aboutus">关于我们</a>

    </div>
  </div>
</header>